@import "./global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-family-normal;
  font-weight: $font-weight-medium;
}

html {
  font-size: $font-size-normal;
}
